<p id="notice"><%= notice %></p>

<%= render 'shared/header' %>

<h1>Detail Book</h1>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @book.image, width: 50, height: 50 %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
